.container{
	width: 600px;
	margin: 0px auto;
	margin-bottom: 20px;
	background: https://scontent-hkt1-2.xx.fbcdn.net/v/t39.30808-6/269691446_1082927558944833_5191228328863645398_n.jpg?stp=dst-jpg_p843x403&_nc_cat=107&cb=c578a115-7e291d1f&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=fUjMssCpktIAX9SnLlp&tn=S4ZHgheQ6rVH7CKC&_nc_ht=scontent-hkt1-2.xx&oh=00_AT-ozke-hoqKBxdT2hqRb0TnNtPnA6zio_GAjWi68JDd3Q&oe=61E43323;
}
.body{
	width: 600px;
	margin: 0px auto;
	margin-bottom: 20px;
}